*
!credit_report_service/common/
!company/
!credit_rating/
!credit_report/
!credit_report_service/
!financial_report/
!news/
!requirements.freeze.txt
!uwsgi.yaml

# TODO remove the following
!db.sqlite3
